<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    
    <script src="css/bootstrap.css"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->


    <!-- Custom styles for this template -->
    <!-- <link href="starter-template.css" rel="stylesheet"> -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
   <!--  <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body ng-app="app" ng-controller="testController as test" >
  
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project JACS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<!--llenarla , dinamica , y que inspecione elementos  , pudiendo verlos por consola -->


    <div class="container">
        <table class="table table-striped">
            <tr>
                <th>Nombre</th>
                  <td><input type="text" id="nombre"></td>
                <th>Apellido</th>
                  <td><input type="text" id="apellido"></td>
                <th>User</th>
                  <td><input type="text" id="user">
                <input type="button" id="btn_add" value="Agregar"></td>
            </tr>
        </table>
       <table class="table table-striped">
              <div id="mydata">
              
              <table id="myTableData"  border="1" cellpadding="2">
                  <tr>
                      <td><b>nombre</b></td>
                      <td><b>apellido</b></td>
                      <td><b>User</b></td>
                  </tr>
                  <tbody ng-repeat="user in users" ng-click="showDetails(user)">
                      <tr>
                        <td>{{user.name}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.user}}</td>
                     </tr>
                  </tbody>
                </div>
              </table>
       </table>
        

                     
    </div><!-- /.container -->
    

        
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/angular.min.js"></script> 
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
  </body>
</html>
